{% extends 'index.html' %}
{% block nav %}
<ul class="nav nav-tabs col-lg-8 col-lg-offset-2">
    <li role="presentation" ><a href="/">转发{{ path}}</a></li>
    <li role="presentation" ><a href="{{ url_for ('search') }}">搜索</a></li>
        <li role="presentation" class="active"><a href="/vote">投票</a></li>

    <li role="presentation">{% if user_code %}<a href="javascript:void(0)">{{ user_code }}</a>{% else %}
        <a for="login" href="javascript:void(0)">登录</a>{% endif %}</li>
    <li class="pull-right"><a>qq:2433230181</a></li>
</ul>
{% endblock %}
{% block content %}
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="vote_list" style="background: lightskyblue;min-height: 500px;padding: 0px">
        <input name="artist" placeholder="增加关注艺人"><a id="add_artist" style="cursor: pointer" {% if grade < 1 %} class="hidden"{% endif %}>增加</a>
        <p>还未投票的任务列表</p>
        {% for vote_ele in vote_list %}
            <div>
                <p><span style="cursor: pointer" class="artist_name">{{ vote_ele[0] }}</span>
                    {% if not vote_ele[1] %}   <span style="font-size: 10px;color: gray">当前没有任务</span> {% endif %}</p>

                {% for url in vote_ele[1] %}
                    <p><a href="{{ url[3] }}">{{ url[2] }}</a> 账号：<span style="cursor: pointer;font-size: 15px"
                                                                        class="vote_account">{{ url[4] }}</span></p>
                {% endfor %}

            </div>
        {% endfor %}

    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div class="col-lg-12">

                <div id="poster"  {% if grade >1 %}class="hidden"{% endif %} style="text-align:center;position: absolute;{% if poster['img'] %}height: 280px;{% endif %}width: 200px;top: 10%;right: 1%;background:lightgray;opacity:0.5;z-index: 80">
               </div>
          <div {% if not poster %}class="hidden" {% endif %} {% if grade >3 %}class="hidden"{% endif %} style="text-align:center;position: absolute;{% if poster['img'] %}height: 280px;{% endif %}width: 200px;top: 10%;right: 1%;z-index: 100">
              <a target="_blank" href="{{ poster['url'] }}">{% if poster['img'] %} <img src="{{ poster['img'] }}" style="height: 80%;width: 100%">{% endif %}<p style="font-size: 15px;color:royalblue;text-decoration: none"> {{ poster['desc'] }}</p> </a>
</div>

            <a id="select-all" href="javascript:void(0)">全选</a>

            {% for account in account_list %}
                <span class="account-span" style="cursor: pointer"><input name="account" type="checkbox"
                                                                          checked="checked"
                                                                          value="{{ account }}">{{ account }}</span>
            {% endfor %}
            <div>
                <button class="btn btn-info" id="update">更新投票榜</button>
                <button class="btn btn-info" id="set_v_visible">{% if visible %}设置为不可见模式{% else %}设置为可见模式{% endif %}</button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="vote-box" {% if grade <= 1 %} class="hidden"{% endif %}><input style="width: 40%;height:40px"
                                                                                          name="name"
                                                                                          placeholder="艺人名，例：王思聪"><input
                        placeholder="投票名称；例：风云榜投票" style="width: 50%;height:40px" name="desc"><input
                        placeholder="投票网址；例：https://vote.weibo.cn/poll/138877303" name="url">
                    <button id="add_vote">添加投票</button>
                </div>
                <p>已完成<span>{{ f_tasks.__len__() }}</span>条任务 <a id="clear_task"></a></p>
                {% for task in f_tasks %}
                    <p><a target="_blank" href="{{ task[1] }}">{{ task[0] }}</a>投票账号：<span class="vote_account" style="font-size: 10px;cursor: pointer">{{ task[2] }}</span>
                    </p>
                {% endfor %}

            </div>

        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2" style="background: lightskyblue;min-height: 500px;padding: 0px">

        {% if error_tasks %}
            <p>错误任务共有{{ error_tasks.__len__() }}条<a id="clear_e_tasks" style="cursor:pointer;">全部清除</a></p>
            {% for error_task in error_tasks %}
                <p class="e_task"><a target="_blank" href="{{ error_task[1] }}">{{ error_task[0] }}</a>账号:<span class="vote_account" style="cursor: pointer">{{ error_task[2] }}</span>
                </p> {% endfor %}
        {% endif %}
    </div>
    <script>
        bind_add_vote();
        bind_clear_tasks();
        function bind_clear_tasks() {
            $('#clear_e_tasks').click(function () {
                console.log('safasdfsda');
                $.ajax({
                    url:'/vote/del_e_task',
                    type:'POST',
                    success:function (arg) {
                        if(arg.status == 1){
                            $('.e_task').empty();
                        }else{
                            alert('清除错误')
                        }
                    }
                })
            });
        }

        function bind_add_vote() {
            $('#add_vote').click(function () {

                var name = $('#vote-box').children('input[name="name"]').val();
                var url = $('#vote-box').children('input[name="url"]').val();
                var desc = $('#vote-box').children('input[name="desc"]').val();

                if (name) {
                    console.log(name);
                    name = name.trim();
                    if (url) {
                        url = url.trim();
                        console.log(url);
                        $.ajax({
                            url: '/vote/add',
                            type: 'POST',
                            data: {'name': name, 'url': url, 'desc': desc},
                            success: function (arg) {
                                if (arg.status == 3) {
                                    alert('此条已存在');
                                }
                                else if (arg.status == 0) {
                                    alert('添加失败');
                                }
                                else if (arg.status == 4) {
                                    alert(arg.msg);
                                }
                                else {
                                    alert('添加成功');
                                    window.location.href = '/vote';

                                }
                            }
                        })
                    }
                }
            });
        }

        function bind_del_artist() {

            $('.artist_name').dblclick(function () {
                var name = $(this).text();
                var that = this;
                if (name) {
                    $.ajax({
                        url: '/vote/del_artist',
                        type: 'GET',
                        data: {'name': name},
                        success: function (arg) {
                            if (arg.status == 1) {
                                $(that).parent().text('');
                            }
                        }
                    })
                }
            });
            $('.vote_account').dblclick(function () {
                var account = $(this).text();
                var url = $(this).siblings('a').attr('href');
                var that = this;
                $.ajax({
                    url: '/vote/del_task',
                    type: 'POST',
                    data: {'account': account, 'url': url},
                    success: function (arg) {
                        if (arg.status == 1) {
                            console.log(arg);
                            console.log(that);
                            $(that).parent().empty();
                        }
                    }

                })
            })
        }

        bind_del_artist();

        function bind_update_votes() {
            $('#update').click(function () {
                var accounts = $('input[type="checkbox"]:checked');
                var account_list = '';
                for (var i = 0; i < accounts.length; i++) {
                    account_list += '  ';
                    account_list += accounts[i].value;
                }
                if (
                    account_list
                ) {
                    $.ajax({
                        url: '/vote/update',
                        type: 'GET',
                        data: {'accounts': account_list},
                        success: function (arg) {
                            window.location.href = '/vote'
                        }
                    })

                }
            });
            $('#set_v_visible').click(function () {
                $.ajax({
                    url: '/vote/set_visible',
                    type: 'GET',
                    success: function (arg) {
                        if (arg.status == 1) {
                            window.location.href = '/vote'
                        } else {

                        }
                    }

                })
            });
        }

        bind_update_votes();

        function bind_add_artist() {
            $('#add_artist').click(function () {
                var name = $('input[name="artist"]').val();
                if (name) {
                    name = name.trim();
                    console.log(name);
                    $.ajax({
                        url: '/vote/add_artist',
                        type: 'GET',
                        data: {'name': name},
                        success: function (arg) {
                            if (arg.status == 1) {
                                window.location.href = '/vote';
                            } else if (arg.status == 2) {
                                alert('已有此数据');
                                window.location.href = '/vote';
                            }
                            else {
                                alert('添加失败');
                                window.location.href = '/vote';
                            }
                        }
                    })
                }
            });
        }

        bind_add_artist();

    </script>
{% endblock %}